<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Your Borrowed Books</h5>
          <p>
            <strong>ID:</strong> {{books.id}}</p>
          <p>
            <p>
              <strong>Title:</strong> {{books.title}}</p>
            <p>
              <strong>Borrower Name:</strong> {{books.name_of_borrower}}</p>
            <p>
              <strong>Checkout Date:</strong> {{books.date_borrowed}}</p>
            <p>
              <strong>Due Date:</strong> {{books.due_date}}</p>
            <a href="#">
              <button onClick="sendEmail()" class="btn btn-primary float-right" data-subject={{books.title}}
                data-due={{books.date_borrowed}} id="message">
                Send a Reminder</button></a>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var sendEmail = function () {
    var message = document.querySelector("#message");
    var email = "daniel.smith8795@gmail.com";
    var subject = "Book due";
    var emailBody = 'Hello, just a reminder that I need my book back by ' + message.dataset.due;
    document.location = "mailto:" + email + "?subject=" + subject + "&body=" + emailBody;
  }
</script>